.main-div {
    display: flex;
    align-content: center;
}
.container {
    width: fit-content;
    display: flex;
    text-align: center; 
    display: inline-flex;
    margin: 0 auto;
    margin-top: 25px;
    height: 700px;
    border-style: solid;
}
.left-panel {
    justify-content: center;
    border-style: solid;
    background-color: rgb(234, 214, 214);
    width: 300px;
    color: rgb(0, 0, 0);
}
.left-panel ol{
    font-size: 20px;
    margin-left: 20px;
}
.left-panel li{
    justify-content: center;
    text-align: left;
    padding-top: 15px;
}
.left-panel li:hover{
    color: red;
}
.middle-panel {
    width: 700px;
    display: block;
}
.middle-panel-chat {
    height: 600px;
    background-color: rgb(234, 214, 214);
    border-style: solid;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}
.messageContainer p{
    text-align: left;
}

.middle-panel-footer {
    background-color: rgb(234, 214, 214);
    border-style: solid;
    height: 92px;
    align-content: center;
    text-align: left;
    display: flex;
}
.middle-panel-footer input{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 50px;
    margin-top: 20px;
    
}
.middle-panel-footer button{
    width: 100px;
    height: 75px;
    margin-left: 70px;
    text-align: center;
    align-self: center;
    background-color: lightgreen;
    border-style: solid;
    border-radius: 25px;
}
.middle-panel-footer button:hover{
    background-color: green;
    transition: 1s;
}
.right-panel {
    width: 300px;
    background-color: rgb(234, 214, 214);
    border-style: solid;
}
.rules li{
    text-align: left;
    font-size: 20px;
    padding-top: 5px;
}
.leaveRoomBtn{
    border-radius: 25px;
    background-color: red;
    color: aliceblue;
    width: 150px;
    height: 100px;
    margin-top: 210px;
}


